<app-toolbar></app-toolbar>
<app-sidebar></app-sidebar>
<app-page-wrapper>
  <h2>
    Bienvenidos a Rumbo Al Mundo! la pataforma de viajes que te da todo lo necesario para que tu disfrutes al máximo tu próximo destino. Para esto hemos diseñado un serie de cursos de IDOMAS PARA VIAJEROS que va a ahorrarte dolores de cabeza y, por qué no, te va a permitir hacer amigos a lo largo de tu travesía.
  </h2>  
  <p>
    Listado de cursos:
  </p>
  <app-card>
  </app-card>
  <p>
    Si tu destino es más exótico, podés optar por nuestro mini curso de <a href="" class="link">OPTIMIZACIÓN DEL USO DE TRADUCTOR</a> y asegurarte así poder moverte con independencia en cualquier lugar del mundo.
  </p>
</app-page-wrapper>
<app-footer></app-footer>
